<th>
    {{#if synapse.launchable}}
        {{#bs-button type="primary" size="sm" icon="glyphicon glyphicon-play" onClick=(action "launch_synapse" synapse)}}  {{/bs-button}}
    {{else}}
        {{#bs-button type="primary" size="sm" icon="glyphicon glyphicon-play" onClick=(action "launch_synapse" synapse) disabled="disabled"}} {{/bs-button}}
    {{/if}}
</th>
<td>{{synapse.displayed_name}}</td>
<td>{{synapse.signals.0.order}}
      {{#bs-button type="default" size="xs" icon="glyphicon glyphicon-info-sign" data-toggle="collapse" data-target="#collapse_orders_{{synapse.name}}" aria-expanded="false" aria-controls="collapse_orders_{{synapse.name}}"}} 
        {{#bs-tooltip}}
          {{#each synapse.signals as |signal index|}}
              - {{signal.parameters}} <br />
          {{/each}}
        {{/bs-tooltip}}
      {{/bs-button}}
</td>
<td>
    {{#if ignore}}
        <p>{{#bs-button type="primary" size="xs" icon="glyphicon glyphicon-eye-open" onClick=(action "unignore_synapse" synapse)}} {{/bs-button}}</p>
    {{/if}}
    {{#unless ignore}}
        <p>{{#bs-button type="warning" size="xs" icon="glyphicon glyphicon-eye-close" onClick=(action "ignore_synapse" synapse)}} {{/bs-button}}</p>
    {{/unless}}
</td>
